body {

  background-image:url('image/background.jpg');
  background-size:cover;
  width: auto;
  background-repeat: repeat-y;
}

.titre {

  font-family: impact;
  font-size: 5em;
  text-align: center;
  color: white;
}

#wrap {

  border: 2px dotted white;
  padding: 2%;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}


/* BOUTON ON*/
#bouton{

  width: 25%;
  margin-right: auto;
  margin-left: auto;

}

#bouton a {
  background: #87888a;
  color: #000000;
  text-decoration: none;
  position: relative;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 10px;
  font-family: impact, helvetica;
  font-size: 35px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #87888a), color-stop(100%, #464648));
  background-image: -webkit-linear-gradient(top, #28db00, #136b00);
  background-image: -moz-linear-gradient(top, #28db00, #136b00);
  background-image: -o-linear-gradient(top, #28db00, #136b00);
  background-image: linear-gradient(top, #28db00, #136b00);
  -webkit-box-shadow: 0px 6px 0px #082d00;
  -moz-box-shadow: 0px 6px 0px #082d00;
  box-shadow: 0px 6px 0px #082d00;
}

/* line 26, style.scss */
#bouton a:hover {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #87888a), color-stop(100%, #464648));
  background-image: -webkit-linear-gradient(bottom, #28db00, #136b00);
  background-image: -moz-linear-gradient(bottom, #28db00, #136b00);
  background-image: -o-linear-gradient(bottom, #28db00, #136b00);
  background-image: linear-gradient(bottom, #28db00, #136b00);
}

/* line 33, style.scss */
#bouton a:active {
  top: 4px;
  -webkit-box-shadow: 0px 2px 0px black;
  -moz-box-shadow: 0px 2px 0px black;
  box-shadow: 0px 2px 0px black;
  color: #365cff;
}

/* line 40, style.scss */
#bouton a:before {
  content: '';
  background-color: #000000;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2px;
  top: 5px;
  left: -2px;
  z-index: -1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 55, style.scss */
#bouton a:active:before {
  top: 0px;
}



/* line 62, style.scss */
#ok {
  text-align: center;

}


/* line 68, style.scss */
/*
#lienactif {
  background: #87888a;
  color: #FE0000;
  text-decoration: none;
  position: relative;
  padding: 10px;
  margin: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #87888a), color-stop(100%, #464648));
  background-image: -webkit-linear-gradient(top, #87888a, #464648);
  background-image: -moz-linear-gradient(top, #87888a, #464648);
  background-image: -o-linear-gradient(top, #87888a, #464648);
  background-image: linear-gradient(top, #87888a, #464648);
  -webkit-box-shadow: 0px 3px 0px #2f2f30;
  -moz-box-shadow: 0px 3px 0px #2f2f30;
  box-shadow: 0px 3px 0px #2f2f30;
}
*/
/* line 81, style.scss *//*
#lienactif:before {
  content: '';
  background-color: #000000;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2px;
  top: 2px;
  left: -2px;
  z-index: -1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

*//* line 96, style.scss *//*
#lienactif:active:before {
  top: 0px;
}*/

/* Bouton off */

#off{

  width: 25%;
  margin-right: auto;
  margin-left: 39%;
  margin-top: 5%;
}

#off a {
  background: #87888a;
  color: #000000;
  text-decoration: none;
  position: relative;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 10px;
  font-family: impact, helvetica;
  font-size: 35px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #87888a), color-stop(100%, #464648));
  background-image: -webkit-linear-gradient(top, #ff0c05, #9e0400);
  background-image: -moz-linear-gradient(top, #ff0c05, #9e0400);
  background-image: -o-linear-gradient(top, #ff0c05, #9e0400);
  background-image: linear-gradient(top, #ff0c05, #9e0400);
  -webkit-box-shadow: 0px 6px 0px #4c0200;
  -moz-box-shadow: 0px 6px 0px #4c0200;
  box-shadow: 0px 6px 0px #4c0200;
}

/* line 26, style.scss */
#off a:hover {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #87888a), color-stop(100%, #464648));
  background-image: -webkit-linear-gradient(bottom, #ff0c05, #9e0400);
  background-image: -moz-linear-gradient(bottom, #ff0c05, #9e0400);
  background-image: -o-linear-gradient(bottom, #ff0c05, #9e0400);
  background-image: linear-gradient(bottom, #ff0c05, #9e0400);
}

/* line 33, style.scss */
#off a:active {
  top: 4px;
  -webkit-box-shadow: 0px 2px 0px black;
  -moz-box-shadow: 0px 2px 0px black;
  box-shadow: 0px 2px 0px black;
  color: #365cff;
}

/* line 40, style.scss */
#off a:before {
  content: '';
  background-color: #000000;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2px;
  top: 5px;
  left: -2px;
  z-index: -1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 55, style.scss */
#off a:active:before {
  top: 0px;
}


h2 {
padding: 5%;
  font-family: impact;
  font-size: 2em;
  text-align: center;
  color: white;
}

#etat, #amb, #bouton {
margin-right: auto;
margin-left: auto;
text-align: center;
}


#etat img {
margin-left: 2%;
display: inline;
margin-right: 5%;
}

#wrap_lamp p{
  display: inline;
  margin-right: 2%;
  font-family: impact;
  color: white;

}

#menu{
  font-family: impact;
  font-size: 22px;
  color: white;
  margin-right: 5%;
  text-decoration: none;
}

#menu a{
  text-decoration: none;
}

#menu a:visited{
  text-decoration: none;
}